<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
 
  <div>
    <h1>Instagram</h1>
    {% if user.is_authenticated %}
     <a class="fas fa-user-circle" href="{% url 'profile' %}">Profile</a>
     <a class="fas fa-sign-out-alt" href="{% url 'logout' %}">Logout</a>
    {% else %}
     <a class="fas fa-user-circle" href="{% url 'profile' %}">Profile</a>
     <a class="fas fa-sign-in-alt" href="{% url 'login' %}">Login</a>
     <a class="far fa-registered" href="{% url 'register' %}">Register</a>  
  </div>
    {% endif %}
      

    <!-- Adding a search form  -->
    <div class="col-sm-4 col-md-4 navbar-right">

      <form class="form-inline my-2 my-lg-0" role="search" action="">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Location" aria-label="Search" name="location" >
        <button class="btn btn-light" type="submit">Search</button>
      </form>
      
    </div>
    <!-- search form end -->
  </div>
</nav>