<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="navbar-header">
          <!-- <h1>Personal Photo App <span class="badge badge-secondary">Pro</span></h1> -->
          <a class="badge badge-light" href="{% url 'photoShoot' %}"> Personal Photo App <span class="badge badge-secondary">Pro</span></a>
      </div>
  
      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">
  
        <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Location" aria-label="Search" name="location" >
          <button class="btn btn-light" type="submit">Search</button>
        </form>
        
      </div>
      <!-- search form end -->

      <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'newsToday'%}">Home</a>
              </li>
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>

        {% endif %}
      </div>
    </div>
  </nav>