{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
<div class="col-md-4">
  <div class="moha">
    <img src="/static/img/instagram.png" alt="instagram" style="width: 550px; margin-left: 500px;">
  </div>
</div>
<div class="col-md-7">
  <div class="content-section" style="float:right;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Welcome To Instagram</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
          Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
      </small>
    </div>
  </div>
  <div class="img">
  </div>
  </div>
  </div>
{% endblock content %}